@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.input-err {
  border: 1px solid red;
}

.error {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.2rem;
}

.auth-contianer {
  margin: 20%;
  padding-left: 100px;
  background-color: aliceblue;
  border: 1px solid #000;
  padding: 1rem;
}

/* add some styles for the sidebar container */
.sidebar-container {
  position: relative;
  height: 100%;
  width: 100%;
}

/* add some styles for the hamburger button */
.hamburger {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  background: transparent;
  cursor: pointer;
  z-index: 10;
}

/* add some styles for the hamburger icon */
.hamburger .bar {
  width: 30px;
  height: 4px;
  background: white;
  border-radius: 2px;
}

/* add some styles for the sidebar */
.sidebar {
  position: static;
  top: 0;
  left: 0;
  height: 100%;
  width: 64px;
  background: gray;
  overflow: hidden;
  transition: 0.3s;
}

/* use a media query to change the styles for smaller screens */
@media (max-width: 768px) {
  /* hide the sidebar by default */
  .sidebar {
    width: 0px;
  }

  /* show the sidebar when the hamburger button is clicked */
  .sidebar.open {
    width: 200px;
    padding: 10px;
  }
}

/* use a media query to change the styles for larger screens */
@media (min-width: 769px) {
  /* hide the hamburger button */
  .hamburger {
    display: none;
  }

  /* show the sidebar by default */
  .sidebar {
    width: 256px;
    padding: 10px;
  }

  /* remove the transition for the sidebar */
  .sidebar.open,
  .sidebar.close {
    transition: none;
  }
}
